################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Source/GenKnowBotV3/.vs/GenKnowBotV3/v15/Server/sqlite3
Source/GenKnowBotV3/.vs/GenKnowBotV3/v15/.suo
Source/GenKnowBotV3/.vs/GenKnowBotV3/v15/.suo
Source/General-Knowledge-Bot/.vs/General-Knowledge-Bot/v16/.suo
*.lock
*.ide-shm
*.ide
*.ide-wal
*.cache
General-Knowledge-Bot/General-Knowledge-Bot/obj/General-Knowledge-Bot.csproj.nuget.dgspec.json
General-Knowledge-Bot/General-Knowledge-Bot/obj/project.assets.json
General-Knowledge-Bot/General-Knowledge-Bot/obj/Debug/netcoreapp2.1/General-Knowledge-Bot.csproj.FileListAbsolute.txt
